{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h4>{{ message }}</h4>
        <form method="POST" action="">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Vote for which new feature you want added!</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Submit your vote!
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
