{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">
                {{ user.username }}
            </h2>
            <p class="text-secondary">
                {{ user.email }}
            </p>
            <p class="text-secondary">
                <a href= "{{ profile.get_absolute_url }}">Your social profile</a>
            </p>
          </div>
        </div>
        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Update
                </button>
            </div>
        </form>
    </div>
    <div class="card">
        <h2>Your friends:</h2>
        <ul>
            {% for friend in friends_list %}
                <li><img class="rounded-circle account-img" src="{{ friend.user.profile.image.url }}"><a href="{{ friend.get_absolute_url }}"> {{ friend.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br />
    {% if rec_requests %}
    <div class="card">
        <h2>Your received friend requests:</h2>
        <ul>
            {% for request in rec_requests %}
                <li><img class="rounded-circle account-img" src="{{ request.from_user.profile.image.url }}"><a href="{{ request.from_user.profile.get_absolute_url }}"> {{ request.from_user.username }}</a> - <a href="{% url 'accept_request' request.from_user.pk %}">Accept</a> or <a href="{% url 'delete_request' request.from_user.pk %}">Decline</a></li>
            {% endfor %}
        </ul>
    </div>
    <br />
    {% endif %}
    {% if sent_requests %}
    <div class="card">
        <h2>Your sent friend requests:</h2>
        <ul>
            {% for request in sent_requests %}
                <li><img class="rounded-circle account-img" src="{{ request.to_user.profile.image.url }}"><a href="{{ request.to_user.profile.get_absolute_url }}"> {{ request.to_user.username }}</a> - <a href="{% url 'cancel_request' request.to_user.pk %}">Cancel</a></li>
            {% endfor %}
        </ul>
    </div>
    <br />
    {% endif %}
    <div class="card">
        <h2>Your posts: </h2>
        {{ user.posts }}
    </div>
{% endblock content %}
