{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">
                {{ user.username }}
            </h2>
            <p class="text-secondary">
                {{ user.email }}
            </p>
          </div>
        </div>
    </div>
    <div class="card">
        <h2>{{ user.username }}'s friends:</h2>
        <ul>
            {% for friend in friends_list %}
                <li><a href="{{ friend.get_absolute_url }}"> {{ friend.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br />
    <div class="card">
        <p>Insert user's posts here.</p>
    </div>
{% endblock content %}
