{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">
                {{ user.username }}
            </h2>
            <p class="text-secondary">
                {{ user.email }}
            </p>
          </div>
        </div>
    </div>
    <div class="card">
        <h2>{{ user.username }}'s friends:</h2>
        <ul>
            {% for friend in friends_list %}
                <li><img class="rounded-circle account-img" src="{{ friend.user.profile.image.url }}"><a href="{{ friend.get_absolute_url }}"> {{ friend.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br />
    <div class="card">
        <p>Insert user's posts here.</p>
    </div>
    {% if button_status != 'none' %}
    <div class="card">
        <p>Friend request code going to go in this card..</p>
        {% if button_status == 'not_friend' %}
            <p><a href="{% url 'send_request' user.pk %}">u gonna add this fool?</a></p>
        {% elif button_status == 'request_sent' %}
            <p><a href="{% url 'cancel_request' user.pk %}">u already added this fool!!</a></p>
        {% elif button_status == 'request_received' %}
            <p><a href="{% url 'profile' %}">This user has sent you a friend request. Go to your profile to check your requests.</a></p>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}
